* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  background: var(--Background, 
              url('/colorshifting.png') 
              -10vw 
              -10vh, 
              radial-gradient(134.61% 96.81% at 0% 1.81%, #130B43 0%, #140C17 100%)
              );
}

.pageTitle {
  color: #C5CBFC;
  margin-top: 10vw;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 73px;
  font-size: 1.25rem;
  text-transform: uppercase;
}

